
        <footer class="d-flex flex-column fixed-bottom">
            <div class="d-flex justify-content-center back-to-top">
                <a class="back-to-top-text" href="#">Back to top</a>
            </div>
            <!-- <div class="footer__logo">
                <img src="/img/logo-white.jpg" alt='Shoppers logo'>
            </div> -->
            <ul class="footer__nav d-flex justify-content-around">
                <li>
                    <a href="#"> About Us</a>
                </li>
                <li>
                    <a href="#"> Download Apps</a>
                </li>
                <li>
                    <a href="#"> Careers</a>
                </li>
                <li>
                    <a href="#"> Contact</a>
                </li>
            </ul>
            <p class="footer__copyright d-flex justify-content-center">
                <a href="https://meet-anupam.herokuapp.com/portfolio.html" target="_blank">Anupam Raj &copy; 2020</a>
            </p>
        </footer>
        
        
        <script src="/js/jQuery.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/admin.js"></script>
    </body>

</html>