<div id="sidebar">
  <p>Eligible for Free Shipping</p>
  <p>Free Shipping</p>
  <hr />
  <p>Department</p>
  <p>Electronics</p>
  <p>Outdoor</p>
  <p>Home</p>
  <p>Groceries</p>
  <hr />
  <p>Average Customer Review</p>
</div>
